@font-face {
  font-family: 'Tilt_Neon';
  src: url(/Assets/fonts/Tilt_Neon/);
}

html {
  font-family: 'Tilt_Neon', "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  margin: 10px auto;
}

input {
  width: 150px;
  height: 150px;
  margin: 2px;
}

button {
  display: block;
  border: none;
  border-radius: 5px;
  margin: 5px;
  width: auto;
  color: white;
  width: 150px;
  height: 200px;
  background-color: rgb(36, 180, 36);
  font-weight: bold;
}
/*Accesibilidad con botón*/
button:hover {
  background-color: rgb(22, 108, 22);
  cursor: pointer;
}

.cajeroMenu {
  background: linear-gradient(rgb(14, 76, 174),rgb(33, 165, 188));
  border-radius: 20px;
  margin-top: 50px;
  width: 550px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 5px;
}

#cajeroSaldo {
  text-align: center;
  margin: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
  width: 150px;
  height: 50px;
}
